<h1>Warehouses and Stock</h1>

<h2>Warehouses</h2>

<% @warehouses.each do |w| %>
  <%= link_to w.name, warehouse_path(w.id) %>

  <strong>Code:</strong> <%= w.code %>
  <strong>City:</strong> <%= w.city %>
  <strong>Area:</strong> <%= w.area %> m2
<% end %>

<% if @warehouses.empty? %>
  <p>There aren't registered warehouses</p>
<% end %>
