<h1>Edit Supplier</h1>

<% if @supplier.errors.any? %>
  <p>Check the errors below:</p>
  <ul>
    <% @supplier.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>