<h1>Suppliers</h1>

<% if @suppliers.any? %>
  <table>
  <thead>
    <tr>
      <th>Brand name</th>
      <th>Localization</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |s| %>
    <tr>
      <td><%= link_to s.brand_name, s %></td>
      <td><%= s.city %> - <%= s.state %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>There aren't registered suppliers</p>
<% end %>

<div>
  <%= link_to 'Home', root_path %>
</div>