<h1>Suppliers</h1>

<p><%= link_to 'Register Supplier', new_supplier_path %></p>

<% if @suppliers.any? %>
  <table border='1'>
  <thead>
    <tr>
      <th>Brand name</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |s| %>
    <tr>
      <td><%= link_to s.brand_name, s %></td>
      <td><%= s.city %> - <%= s.state %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>There aren't registered suppliers!</p>
<% end %>